name: Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check-rust:
    name: Check Rust
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: "./src-tauri -> target"
      - name: Install dependencies (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev build-essential curl wget file libssl-dev libgtk-3-dev libayatana-appindicator3-dev librsvg2-dev
      - name: Check formatting
        run: cargo fmt --all --check
        working-directory: ./src-tauri
      - name: Check Clippy
        run: cargo clippy -- -D warnings
        working-directory: ./src-tauri

  check-react:
    name: Check React
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Check formatting
        run: npm run format:check
      - name: Check Lint
        run: npm run lint
